<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <!-- a SessionFactory instance listed as /jndi/name -->
    <session-factory>

        <!-- properties -->
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
        <property name="hibernate.connection.username">dave325</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>

        <property name="hibernate.show_sql">true</property>
		 
		<mapping class="examples.pubhub.model.Book"/>
		<mapping class="examples.pubhub.model.BookTags"/>
		<mapping class="examples.pubhub.model.ShoppingCart"/>
		<mapping class="examples.pubhub.model.PurchasedBook"/>
		<mapping class="examples.pubhub.model.OrderHistory"/>
		<mapping class="examples.pubhub.model.BookList"/>
		<mapping class="examples.pubhub.model.Users"/>
    </session-factory>

</hibernate-configuration>
